@use './tabbar.scss';

:root,
page {
  font-family:
    PingFang SC,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  background-color: #fefeff;
  --app-primary-color: #4299e1;
  --app-background-color: white;
  --wot-color-theme: var(--app-primary-color);
}

::-webkit-scrollbar {
  display: none;
}

view {
  box-sizing: border-box;
}

.wd-tabbar__placeholder {
  box-sizing: content-box;
  padding-bottom: calc(env(safe-area-inset-bottom) + 64rpx) !important;
}

.wd-popup-wrapper {
  .wd-popup--bottom {
    border-radius: 32rpx 32rpx 0 0;
  }
  .wd-overlay {
    z-index: 100 !important;
  }
  .wd-popup {
    z-index: 100 !important;
  }
}

.wd-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 18rpx;
  &:focus,
  &:focus-within {
    border-color: #4299e1;
  }
  &::after {
    content: unset !important;
  }
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 40rpx;
  font-weight: 600;
  color: #333;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*
border-t-1
由于uniapp中无法使用*选择器，使用魔法代替*，加上此规则可以简化border与divide的使用，并提升布局的兼容性
1. 防止padding和border影响元素宽度。 (https://github.com/mozdevs/cssremedy/issues/4)
2. 允许仅通过添加边框宽度来向元素添加边框。 (https://github.com/tailwindcss/tailwindcss/pull/116)
3. [UnoCSS]: 允许使用css变量'--un-default-border-color'覆盖默认边框颜色
*/
// 这个样式有重大BUG，先去掉！！(2025-08-15)
// :not(not),
// ::before,
// ::after {
//   box-sizing: border-box; /* 1 */
//   border-width: 0; /* 2 */
//   border-style: solid; /* 2 */
//   border-color: var(--un-default-border-color, #e5e7eb); /* 3 */
// }
